.footer__top {
  background: url("~@/assets/Patheon__images/footer.svg") no-repeat;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  min-height: 400px;
  padding: 80px;
}
.v-footer {
  padding: 0 0 0 0;
}
